<html>
<head>
    <title>chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/unicorn.css" />
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.css" />
    <style>
        #remoteVideos video {
            height: 260px;
        }
        #localVideo {
            height: 260px;
        }

    </style>
    <script src="/static/javascripts/latest.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/unicorn.js"></script>
    <script src="/static/javascripts/jquery.nicescroll.min.js"></script>
    <script src="/static/javascripts/bootbox.min.js"></script>
    <script>
    $(function(){
        bootbox.prompt("请输入昵称", function(result) {
            if (result === null) {
                return false;
            } else {
                joinRoom(result);
            }
        });
    });
    </script>
</head>
<body>
<input type="hidden" id="userName" />
<div class="container" style="margin-top: 50px;">
        <div class="col-md-4">
            <div class="widget-box widget-chat">
                <div class="widget-title">
								<span class="icon">
									<i class="fa fa-comment"></i>
								</span>
                    <h5>自己的视频</h5>
                    <div class="buttons">
                        <a class="btn go-full-screen"><i class="fa fa-resize-full"></i></a>
                    </div>

                </div>
                <div class="widget-content nopadding">
                    <video id="localVideo"></video>

                </div>
            </div>
            <div class="widget-box widget-chat">
                <div class="widget-title">
								<span class="icon">
									<i class="fa fa-comment"></i>
								</span>
                    <h5>对方视频</h5>
                    <div class="buttons">
                        <a class="btn go-full-screen"><i class="fa fa-resize-full"></i></a>
                    </div>

                </div>
                <div class="widget-content nopadding">
                    <div id="remoteVideos"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="widget-box widget-chat">
                <div class="widget-title">
                                    <span class="icon">
                                        <i class="fa fa-comment"></i>
                                    </span>
                    <h5>消息窗口</h5>
                    <div class="buttons">
                        <a class="btn go-full-screen"><i class="fa fa-resize-full"></i></a>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    <div class="chat-content panel-left" style="height: 580px;">
                        <div class="chat-messages" id="chat-messages">
                            <div id="chat-messages-inner" class="chat-messages-inner"></div>
                        </div>
                        <div class="chat-message well">
                                <span class="input-box input-group">
                                    <!--<input placeholder="Enter message here..." type="text" class="form-control input-small" name="msg-box" id="msg-box" />-->
                                    <textarea onpaste="pasteClob(event)" cols=60 rows=5 class="form-control input-small" name="msg-box" id="msg-box"
                                              placeholder="Enter message here..."></textarea>
                                    <span class="input-group-btn" style="left: 5px;">
                                        <button class="btn btn-success btn-small" type="button">Send</button>
                                    </span>
                                </span>
                        </div>
                    </div>
                    <div class="chat-users panel-right">
                        <div class="panel-title"><h5>在线人员</h5></div>
                        <div class="panel-content nopadding">
                            <ul class="contact-list">
                                <!--<li id="user-michelle" class="online new"><a href="#"><img alt="" src="/images/av1.jpg" /> <span>Michelle</span></a><span class="msg-count badge badge-info">3</span></li>-->
                                <!--<li id="user-neytiri" class="online"><a href="#"><img alt="" src="/images/av2.jpg" /> <span>Neytiri</span></a></li>-->
                                <!--<li id="user-cartoon-man" class="online"><a href="#"><img alt="" src="/images/av3.jpg" /> <span>Cartoon Man</span></a></li>-->
                                <!--<li id="user-rick-newton" class="online"><a href="#"><img alt="" src="/images/av1.jpg" /> <span>Rick Newton</span></a></li>-->
                                <!--<li id="user-zack-renson" class="online new"><a href="#"><img alt="" src="/images/av2.jpg" /> <span>Zack Renson</span></a><span class="msg-count badge badge-info">1</span></li>-->
                                <!--<li id="user-vladimir-ivanov"><a href="#"><img alt="" src="/images/av3.jpg" /> <span>Wladimir Ivanov</span></a><span class="away label label-warning">Away</span></li>-->
                                <!--<li id="user-master-moda"><a href="#"><img alt="" src="/images/av1.jpg" /> <span>Master Moda</span></a><span class="away label label-warning">Away</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
</body>
<script src="/static/javascripts/chat.client.js"></script>
</html>