<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/javascripts/jquery-1.7.min.js"></script>
    <script src="http://RecordRTC.org/latest.js"></script>
    <script>


    </script>
</head>
<body>
大风大厦发生的
<button id="btnStopRecording">fdsafdsafds</button>
<video id="video"></video>
<script>

</script>
</body>
</html>