<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script type="text/javascript">
    var error = "<%=login%>";
    if(error == "login"){
        alert("请先登录");
        window.location.href = "/";
    }else{
        alert("链接不完整");
    }
</script>

</body>
</html>